/* css custom de votre site */
body > header {
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100%; */
  }

  header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  body {
    padding-top: 100px;
  }

  #icon {
    position: fixed;
    top: 15px;
    right: 15px;
    /* width: 25px;
      height: 25px; */
    /* color: rgb(63, 63, 63); */
    color: rgb(50, 50, 121);
    /*background: #fff;*/
    width: auto;
  }

  img {
    width: 100%;
  }

  header div div:first-child {
    width: 100px;
  }

  #shadow {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  nav {
    position: fixed;
    width: 0px;
    height: 100%;
    top: 0;
    right: 0;
    background: rgb(240, 240, 240);
  }

  nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  nav a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    color: #9e121b ;
   }

  nav a:hover {
    background: rgb(63, 63, 63);
    color: #fff;
  }

  .t-center {
    text-align: center;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  .bg,
  header,
  footer {
    background-color: #9e121b;
    border: 1px solid #f3f3f3;
    overflow:hidden;
  }

  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #9e121b !important;
  }

  .footer .row {
    width: 150px;
    height: auto;
    float:left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }

  .footer .row h2 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }

  .footer .row h2 a{
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
    text-decoration: none;
  }

  .footer .row ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .row ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }

  .footer .row ul li a{
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    text-decoration: none;
  }

  .footer .row ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  
  .footer .row ul li a:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  

  .card {
    background: rgb(240, 240, 240);
    border: 1px solid rgb(223, 221, 221);
    border-radius: 5px;
    margin: 0;
  }

  .mtb-1 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .card:last-child {
    margin-bottom: 2em;
  }

  .text-contrast h2 {
    color: rgb(82, 81, 81);
  }

  .form-control {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
  }

  .form-line {
    padding: 10px 15px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    /* height: 30px; */
    padding: 10px;
  }

  label {
    padding-bottom: 5px;
  }

  textarea {
    min-height: 80px;
  }

  .erreur {
    color: red;
    display: none;
    font-style: italic;
  }

  @media (min-width: 768px) {
    #icon {
      display: none;
    }
    nav {
      position: inherit;
      width: auto;
      height: auto;
      background: none;
    }
    nav ul {
      flex-direction: row;
      margin-top: 0;
    }
    nav a {
      color: #fff;
    }
    nav a:hover {
      background: #fff;
      color: rgb(50, 50, 121);
    }
  }